$regular-font: 'Roboto Condensed', sans-serif;
$header-font: 'Comic Neue', cursive;

$small-size: .85em;
$regular-size: 1em;
$medium-size: 1.5em;
$large-size: 2em;

$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;

$white-text: #ffffff;
$light-text: #616161;
$regular-text: #424242;
$medium-text: #1d1d1d;
$dark-text: #020202;

$light-color: #2767a9;
$regular-color: #0b5098;
$medium-color: #08407a;
$dark-color: #05315e;