extends layout

block content
 div#site
  div#beer-sort.text-center
   h4 Sort By
   div.btn-group(role="group")
    button#by-beer.btn.btn-dark Beer
    button#by-brewery.btn.btn-dark Brewery
  div#beers