.container-fluid{
	margin: 0;
	padding: 0;
}

#site{
	margin: 0;
	padding: 0;
	min-height: calc(100vh - 1em);
}

#footer{
	margin: 0;
	padding: .25em 0;
}

#copy-footer{
	margin: 0;
	padding: 0;
}

#copy-footer p{
	margin: 0;
	padding: 0;
	font-size: $small-size;
	text-transform: uppercase;
	letter-spacing: .25em;
}